.container-fluid {
    background-color: black;
  }
  
  .row {
    justify-content: center;
  }
  
  .col-md-8,
  .col-lg-6 {
    width: 100%;
    max-width: 768px; /* Adjust max-width as needed */
  }
  
  .header {
    text-align: center;
  }
  
  .header h3 {
    color: white;
    font-size: 23px;
    margin: 0;
    padding: 20px 0;
  }
  
  /*.fa-shopping-cart {
    color: white;
    font-size: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;  Adjust position as needed 
  }*/
  