<div class="container-fluid" style="background-color: black;">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="header">
                <h3 style="color: white; font-size: 23px;">Popular Products</h3>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: black;">
    <div class="row">
        <div class="col-md-2 mt-3">
            <div class="card mt-2">
                <div class="card-body">
                    <div class="card-img-actions">
                        <img src="https://tse2.mm.bing.net/th?id=OIP.pBSE3sGdLdNuz6FmahCNAQHaE8&pid=Api&P=0&h=220" class="card-img img-fluid">
                    </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div>
                        <h6 class="font-weight-semibold">
                            <a class="text-default">Hp 16GB Pendrive</a>
                        </h6>
                    </div>
                    <h3 class="mb-0 font-weight-semibold">$ 15.00</h3>
                    <button class="btn btn-sm btn-dark mt-2"><i class="fa fa-solid fa-info mr-2">&nbsp;View Details</i></button>
                    <button class="btn btn-sm btn-warning mt-2"><i class="fa fa-cart-plus mr-2">&nbsp;Add to Cart</i></button>
                </div>
            </div>
        </div>
        
    </div>
</div>
